# Ignore common image files in subdirectories of data/
data/*/*.jpg
data/*/*.jpeg
data/*/*.png
data/*/*.gif
data/*/*.bmp
data/*/*.tiff
data/*/*.webp
results*/*.png

__pycache__

!results*/best_worst_predictions*.png
!results*/training_history*.png